<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--所有页面共有底部-->
<div th:fragment="footer">
    <div class="footer">
        <div class="footer am-u-sm-centered">
            <div class="am-vertical-align" style="text-align: center">
                <hr>
                <div class="am-vertical-align-bottom">
                    <div style="color: #009688;font-size: 15px;">
                        &copy; made by wangshuaijie 如有需要请联系
                    </div>
                    <div class="webLogo" style="font-size: 15px;">
                        <a href="http://beian.miit.gov.cn" target="_blank">
                            邮箱：2283613941@qq.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
            <a id="toTop"  href="#top">
                <span title="到顶部" style="color: white">
                    <i class="am-icon-arrow-up"></i>
                </span>
            </a>
        </div>
    </div>
</div>
</html>