<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>猿天地首页</title>

    <link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/zui/css/zui2.css}" rel="stylesheet"/>
    <link th:href="@{/css/zui/css/zui-theme.css}" rel="stylesheet"/>

</head>
<body>

</body>
</html>