<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>

    <link type="text/css" rel="stylesheet" th:href="@{/css/blog.css}">
    <script type="text/javascript"  th:src="@{/js/jquery-3.2.1.min.js}"></script>
</head>
<body class="login_bj" style="background-color: grey">
<div class="zhuce_body">
    <div class="zhuce_kong" id="dre_div">
        <div class="zc">
            <div class="bj_bai" style="height: 468px">
                <h3>欢迎注册</h3>
                <form action="#" th:action="@{/doRegister}" method="post" id="registerForm">
                    <span id="reg_span"></span>
                    <input id="phone" name="phone" type="text" class="kuang_txt phone" placeholder="手机号"
                           onblur="checkPhone();">
                    <br/>
                    <span id="phone_span" style="color: red"></span>
                    <input id="email" name="email" type="text" class="kuang_txt email" placeholder="邮箱"
                           onblur="checkEmail();">
                    <br/>
                    <span id="email_span" style="color: red"></span>
                    <input id="password" name="password" type="password" class="kuang_txt possword" placeholder="密码"
                           onKeyUp="CheckIntensity(this.value)" onblur="checkPassword();">
                    <br/>
                    <span id="password_span"></span>
                    <input id="nickName" name="nickName" type="text" class="kuang_txt possword" placeholder="昵称"
                           onblur="checkNickName();">
                    <br/>
                    <span id="nickName_span" style="color: red"></span>

                    <input id="code" name="code" type="text" class="kuang_txt yanzm" placeholder="验证码"
                           onblur="checkCode()">

                    <div>
                        <input id="protocol" type="checkbox" onclick="checkProtocol();">
                        <span>已阅读并同意
                            <a href="#" target="_blank"><span class="lan">《用户协议》</span></a></span>
                        <br/>
                        <span id="protocol_span"></span>
                    </div>
                    <input name="注册" type="button" class="btn_zhuce" id="to_register" value="注册">
                    <br/>
                    <span style="color: red">${error}</span>
                </form>
            </div>
            <div class="bj_right" style="height: 468px">
                <p>使用以下账号直接登录</p>
                <a href="#" class="zhuce_qq">QQ注册</a>
                <a href="#" class="zhuce_wb">微博注册</a>
                <a href="#" class="zhuce_wx">微信注册</a>
                <p>已有账号？<a href="login.html">立即登录</a></p>

            </div>
        </div>
    </div>
</div>

<div style="text-align:center;"></div>
</body>
</html>