<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tag</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

    <link href="https://cdn.bootcss.com/zui/1.9.1/css/zui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/tags.css">
    <link rel="stylesheet" href="css/categories.css">
    <link rel="stylesheet" href="css/plugs_paging.css">

</head>
<body>
<canvas id="c"></canvas>
<div id="container">
    <!--引入共有头部-->
    <div th:replace="/header :: header"></div>
    <!--页面主体-->
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="site-inner">
                    <div class="allTags" style="height: 550px;">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--引入共有底部-->
    <div th:replace="/footer :: footer"></div>
</div>

<script src="js/tags.js"></script>
<script src="js/all.js"></script>
<script src="js/plugs_paging.js"></script>
</body>
</html>
</body>
</html>