<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>猿天地</title>


    <link href="https://cdn.bootcss.com/zui/1.9.1/css/zui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/zui/1.9.1/css/zui-theme.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">

    <link href="/editormd/css/editormd.preview.css" rel="stylesheet"/>
    <link href="/editormd/css/editormd.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/reply/css/style.css">
    <link rel="stylesheet" href="/reply/css/comment.css">
    <link rel="stylesheet" href="/css/index.css">

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

    <script type="text/javascript" src="/editormd/examples/js/jquery.min.js"></script>
    <script type="text/javascript" src="/editormd/lib/editormd.min.js"></script>
    <script type="text/javascript" src="/editormd/lib/marked.min.js"></script>
    <script type="text/javascript" src="/editormd/lib/prettify.min.js"></script>
    <script type="text/javascript" src="/editormd/lib/raphael.min.js"></script>
    <script type="text/javascript" src="/editormd/lib/underscore.min.js"></script>
    <script type="text/javascript" src="/editormd/lib/sequence-diagram.min.js"></script>
    <script type="text/javascript" src="/editormd/lib/flowchart.min.js"></script>
    <script type="text/javascript" src="/editormd/lib/jquery.flowchart.min.js"></script>


    <script src="https://cdn.bootcss.com/zui/1.9.1/js/zui.min.js"></script>
    <script type="text/javascript" src="/reply/js/jquery.flexText.js"></script>
</head>
<canvas id="c"></canvas>
<!--&lt;!&ndash;&lt;!&ndash;动态码流背景 &ndash;&gt;&ndash;&gt;-->
<!--<script type="text/javascript" src="/js/background.js"></script>-->
<body>
<div id="container">
    <!--引入共有头部-->
    <div th:replace="/header :: header"></div>
    <div id="main">
        <div id="content" class="row-fluid" style="width: 100%">
            <div id="content_col" class="content-main">
                <!-- 正文开始 -->
                <div class="content-text">
                    <h1 class="header-dividing" style="text-align: center"><a th:text="${article.title}"></a></h1>
                    <div class="author clearfix">
                        <div>
                            <a th:href="@{/profile(uid=${article.uId})}" target="_blank" rel="nofollow"
                               style="height: 35px">
                                 <img th:src="${article.imgUrl}">
                            </a>
                        </div>
                        <div class="author-h2">
                            <div th:utext="${article.nickName}"
                                 style="float: left;font-size: 15px;color: #9b8878"></div>
                            <div th:text="${#dates.format(article.rptTime,'yyyy-MM-dd HH:mm:ss')}"
                                 style="float: left;margin-left: 10px;color: grey;margin-top: 2px;font-size: 12px"></div>
                        </div>
                    </div>

                    <div style="padding: 10px;">
                        <div id="content-text" style="min-height: 540px" th:utext="${article.content}"></div>
                    </div>
                    <div style="height: 5px"></div>
                    <div class="stats">
                        <!-- 笑脸、评论数等 -->
                        <span class="stats-vote"><i th:id="${article.id}" class="number"
                                                    th:text="${article.upvote}"></i> 赞</span>
                        <span class="stats-vote"><i th:id="${article.id}" class="number"
                                                    th:text="${article.downvote < 0 ? -article.downvote:article.downvote}"></i> 踩</span>
                        <span class="stats-comments">
								<span class="dash"> · </span>
								<a th:onloadeddata="|reply(${article.id},${article.uId});|">
								    <i class="number" th:id="|comment_num_${article.id}|"
                                       th:text="${article.commentNum}"></i> 评论
								</a>
							</span>
                    </div>
                    <div style="height: 5px"></div>

                    <div class="stats-buttons bar clearfix">
                        <a style="cursor: pointer;" th:onclick="|upvote_click(${article.id},1);|">
                            <i class="icon icon-thumbs-o-up icon-2x"></i>
                            <span class="number hidden" th:id="|up_${article.id}|" th:text="${article.upvote}"></span>
                        </a>
                        &nbsp;
                        <a style="cursor: pointer;" th:onclick="|upvote_click(${article.id},-1);|">
                            <i class="icon icon-thumbs-o-down icon-2x"></i>
                            <span class="number hidden" th:id="|down_${article.id}|"
                                  th:text="${article.downvote}"></span>
                        </a>
                        &nbsp;
                        <a style="cursor: pointer;" th:onclick="|reply(${article.id},${article.uId});|" title="点击打开或关闭">
                            <i class="icon icon-comment-alt icon-2x"></i>
                        </a>
                    </div>
                    <div class="single-share">
                        <a class="share-wechat" data-type="wechat" title="分享到微信" rel="nofollow"
                           style="margin-left:18px;color: grey;cursor: pointer; text-decoration:none;">
                            <i class="icon icon-wechat icon-2x"></i>
                        </a>
                        <a class="share-qq" data-type="qq" title="分享到QQ" rel="nofollow"
                           style="margin-left:18px;color: grey;cursor: pointer; text-decoration:none;">
                            <i class="icon icon-qq icon-2x"></i>
                        </a>
                        <a class="share-weibo" data-type="weibo" title="分享到微博" rel="nofollow"
                           style="margin-left:18px;color: grey;cursor: pointer; text-decoration:none;">
                            <i class="icon icon-weibo icon-2x"></i>
                        </a>
                    </div>
                    <br/>
                    <div class="commentAll" style="display:none" th:id="|comment_reply_${article.id}|">
                        <!--评论区域 begin-->
                        <div class="reviewArea clearfix">
                            <textarea th:id="|comment_input_${article.id}|" class="content comment-input"
                                      placeholder="Please enter a comment&hellip;"
                                      onkeyup="keyUP(this)"></textarea>
                            <a class="plBtn" th:id="|comment_${article.id}|"
                               th:onclick="|comment(${article.id},${user==null?null:user.id},${article.uId})|"
                               style="color: white;cursor: pointer;">评论</a>
                        </div>
                        <!--评论区域 end-->
                        <div class="comment-show-first" th:id="|comment-show-${article.id}|">

                        </div>
                    </div>
                    <div class="single-clear"></div>
                </div>
                <!-- 正文结束 -->
            </div>
        </div>

        <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>

    <!--引入共有底部-->
    <div th:replace="/footer :: footer"></div>

</div>
</body>
<script type="text/javascript">
    editormd.markdownToHTML("content-text", {
        htmlDecode: "style,script,iframe",  // you can filter tags decode
        emoji: true,
        taskList: true,
        tex: true,  // 默认不解析
        flowChart: true,  // 默认不解析
        sequenceDiagram: true,  // 默认不解析
    });
    /* testEditormdView2 = editormd.markdownToHTML("content-text", {
         htmlDecode      : "style,script,iframe",  // you can filter tags decode
         emoji           : true,
         taskList        : true,
         tex             : true,  // 默认不解析
         flowChart       : true,  // 默认不解析
         sequenceDiagram : true,  // 默认不解析
     });*/
</script>
<script type="text/javascript">

    /**
     * 点赞或踩的点击事件
     * @param id
     * @param count
     */
    function upvote_click(id, count) {
        var uid = "[[${user != null ? user.id:null}]]";
        if (uid == null || uid == '') {
            alert("请先登录！");
            window.location.href = "[[@{/login}]]";
            return
        }
        $.ajax({
            type: 'post',
            url: '[[@{/upvote}]]',
            data: {
                "id": id,
                "uid": uid,
                "upvote": count
            },
            dataType: 'json',
            success: function (data) {
                var up = data["data"];
                if (up == "success") {
                    if (count == -1) {
                        var down = document.getElementById("down_" + id);
                        var num = down.innerHTML;
                        var value = parseInt(num) + count;
                        down.innerHTML = value;
                    } else {
                        var num = document.getElementById(id).innerHTML;
                        var value = parseInt(num) + count;
                        document.getElementById(id).innerHTML = value;
                        document.getElementById("up_" + id).innerHTML = value;
                    }
                } else if (up == "done") {
                    new $.zui.Messager('今日已赞！', {
                        icon: 'bell' // 定义消息图标
                    }).show();
                } else if (up == "down") {
                    new $.zui.Messager('今日已踩！', {
                        icon: 'bell' // 定义消息图标
                    }).show();
                } else {
                    window.location.href = "[[@{/login}]]";
                }
            }
        });
    }


    /**
     * 日期函数
     * @param strTime
     * @returns {string}
     * @constructor
     */
    function formatDate(strTime) {
        var date = new Date(strTime);
        var h = date.getHours();       //获取当前小时数(0-23)
        var m = date.getMinutes();     //获取当前分钟数(0-59)
        if (m < 10) m = '0' + m;
        var s = date.getSeconds();
        if (s < 10) s = '0' + s;
        return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + h + ':' + m + ":" + s;
    }

    /**
     * 点击评论或回复图标
     * @param id
     * @param uid
     */
    function reply(id, uid) {
        $("div").remove("#comment_reply_" + id + " .comment-show");
        $("div").remove("#comment_reply_" + id + " .comment-show-con");
        //如果show是隐藏的
        if (showdiv_display = document.getElementById('comment_reply_' + id).style.display == 'none') {
            //show的display属性设置为block（显示）
            document.getElementById('comment_reply_' + id).style.display = 'block';

            $.ajax({
                type: 'post',
                url: '[[@{/reply}]]',
                data: {
                    "content_id": id
                },
                async: false,
                dataType: 'json',
                success: function (data) {
                    var list = data["list"];
                    var okHtml;
                    if (list != null && list != "") {
                        $(list).each(function () {
                            var chtml = "<div class='comment-show'>" +
                                "<div class='comment-show-con clearfix'>" +
                                "<div class='comment-show-con-img pull-left'><img src='" + this.user.imgUrl + "' alt=''></div>" +
                                "<div class='comment-show-con-list pull-left clearfix'>" +
                                "<div class='pl-text clearfix'>" +
                                "<a  class='comment-size-name'>" + this.user.nickName + " :</a>" +
                                "<span class='my-pl-con'>&nbsp;" + this.commentContent + "</span>" +
                                "</div> <div class='date-dz'><span class='date-dz-left pull-left comment-time'>" + formatDate(this.commentTime) + "</span>" +
                                "<div class='date-dz-right pull-right comment-pl-block'>" +
                                "<a onclick='deleteComment(" + id + "," + uid + "," + this.id + ",null)' id='comment_dl_" + this.id + "' style='cursor:pointer' class='removeBlock'>删除</a>" +
                                "<a style='cursor:pointer' onclick='comment_hf(" + id + "," + this.id + "," + null + "," + this.user.id + "," + uid + ")' id='comment_hf_" + this.id + "' class='date-dz-pl pl-hf hf-con-block pull-left'>回复</a>" +
                                "<span class='pull-left date-dz-line'>|</span>" +
                                "<a onclick='reply_up(" + this.id + ")' style='cursor:pointer' class='date-dz-z pull-left' id='change_color_" + this.id + "'><i class='date-dz-z-click-red'></i>赞 (<i class='z-num' id='comment_upvote_" + this.id + "'>" + this.upvote + "</i>)</a>" +
                                "</div> </div> <div class='hf-list-con' id='hf-list-con-" + this.id + "'>";


                            var ehtml = "</div> </div> </div></div>";
                            var parentComm_id = this.id;

                            okHtml = chtml;
                            //alert(this.children)
                            if (this.children != null && this.children != '') {
                                var commentList = this.comList;
                                $(commentList).each(function () {
                                    // alert(this.id);
                                    var oHtml = "<div class='all-pl-con'><div class='pl-text hfpl-text clearfix'>" +
                                        "<a class='comment-size-name'>" + this.user.nickName + "<a class='atName'>@" + this.byUser.nickName + " :</a> </a>" +
                                        "<span class='my-pl-con'>" + this.commentContent + "</span>" +
                                        "</div><div class='date-dz'> <span class='date-dz-left pull-left comment-time'>" + formatDate(this.commentTime) + "</span>" +
                                        "<div class='date-dz-right pull-right comment-pl-block'>" +
                                        "<a style='cursor:pointer' onclick='deleteComment(" + id + "," + uid + "," + this.id + "," + parentComm_id + ")' id='comment_dl_" + this.id + "' class='removeBlock'>删除</a>" +
                                        "<a onclick='comment_hf(" + id + "," + this.id + "," + parentComm_id + "," + this.user.id + "," + uid + ")' id='comment_hf_" + this.id + "' style='cursor:pointer' class='date-dz-pl pl-hf hf-con-block pull-left'>回复</a> <span class='pull-left date-dz-line'>|</span>" +
                                        "<a onclick='reply_up(" + this.id + ")' id='change_color_" + this.id + "' style='cursor:pointer' class='date-dz-z pull-left'><i class='date-dz-z-click-red'></i>赞 (<i class='z-num' id='comment_upvote_" + this.id + "'>" + this.upvote + "</i>)</a>" +
                                        "</div></div> </div>";

                                    okHtml = okHtml + oHtml;
                                });

                            }

                            okHtml = okHtml + ehtml;
                            $("#comment-show-" + id).append(okHtml);

                        });
                    }

                }
            });
        } else {//如果show是显示的
            document.getElementById('comment_reply_' + id).style.display = 'none';//show的display属性设置为none（隐藏）
        }
    }

    /**
     * 评论字数限制
     * @param t
     */
    function keyUP(t) {
        var len = $(t).val().length;
        if (len > 139) {
            $(t).val($(t).val().substring(0, 140));
        }
    }

    /**
     * 点击评论按钮
     * @param content_id
     * @param uid
     * @param cuid
     * @private
     */
    function comment(content_id, uid, cuid) {
        //未登录
        if (uid == null) {
            new $.zui.Messager('请登录后评论！', {
                icon: 'bell', // 定义消息图标
            }).show();
            return
        }
        var myDate = new Date();
        //获取当前年
        var year = myDate.getFullYear();
        //获取当前月
        var month = myDate.getMonth() + 1;
        //获取当前日
        var date = myDate.getDate();
        var h = myDate.getHours();       //获取当前小时数(0-23)
        var m = myDate.getMinutes();     //获取当前分钟数(0-59)
        if (m < 10) m = '0' + m;
        var s = myDate.getSeconds();
        if (s < 10) s = '0' + s;
        var now = year + '-' + month + "-" + date + " " + h + ':' + m + ":" + s;
        //获取输入内容
        var oSize = $("#comment_input_" + content_id).val();
        //动态创建评论模块
        if (oSize.replace(/(^\s*)|(\s*$)/g, "") != '') {
            $.ajax({
                type: 'post',
                url: '[[@{/comment}]]',
                data: {
                    "content_id": content_id,
                    "uid": uid,
                    "oSize": oSize,
                    "comment_time": now
                },
                async: false,
                dataType: 'json',
                success: function (data) {
                    var comm_data = data["data"];

                    var id = comm_data.id;
                    //alert(id)
                    oHtml = '<div class="comment-show-con clearfix">' +
                        '<div class="comment-show-con-img pull-left">' +
                        '<img src="[[${user!=null?user.imgUrl:null}]]" alt="">' +
                        '</div> ' +
                        '<div class="comment-show-con-list pull-left clearfix">' +
                        '<div class="pl-text clearfix"> ' +
                        '<a  class="comment-size-name">[[${user!=null?user.nickName:null}]] :</a> <span class="my-pl-con">&nbsp;' + oSize + '</span> ' +
                        '</div> ' +
                        '<div class="date-dz"> ' +
                        '<span class="date-dz-left pull-left comment-time">' + now + '</span> ' +
                        '<div class="date-dz-right pull-right comment-pl-block">' +
                        '<a style="cursor:pointer"  onclick="deleteComment(' + content_id + ',' + cuid + ',' + id + ',' + null + ')" id="comment_dl_' + id + '"  class="removeBlock">删除</a> ' +
                        '<a style="cursor:pointer" onclick="comment_hf(' + content_id + ',' + id + ',' + null + ',' + comm_data.user.id + ',' + cuid + ')" id="comment_hf_' + id + '" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> ' +
                        '<span class="pull-left date-dz-line">|</span> ' +
                        '<a onclick="reply_up(' + id + ')" id="change_color_' + id + '" style="cursor:pointer"  class="date-dz-z pull-left" ><i class="date-dz-z-click-red"></i>赞 (<i class="z-num" id="comment_upvote_' + id + '">0</i>)</a> ' +
                        '</div> ' +
                        '</div>' +
                        '<div class="hf-list-con"></div>' +
                        '</div> ' +
                        '</div>';
                    $("#comment_" + content_id).parents('.reviewArea ').siblings('.comment-show-first').prepend(oHtml);
                    $("#comment_" + content_id).siblings('.flex-text-wrap').find('.comment-input').prop('value', '').siblings('pre').find('span').text('');

                    $("#comment_input_" + content_id).val('');

                    var num = document.getElementById("comment_num_" + content_id).innerHTML;
                    document.getElementById("comment_num_" + content_id).innerHTML = (parseInt(num) + 1) + "";

                }
            });
        }
    }


    /**
     * 删除评论块
     * @param con_id
     * @param uid
     * @param id
     * @param fid
     */
    function deleteComment(con_id, uid, id, fid) {
        var currentUserId = '[[${user!=null?user.id:null}]]';
        if (currentUserId != uid) {
            // alert(currentUserId);
            // alert(uid);
            alert("你没有权限或未登录！");
        } else {
            if (!confirm("确认要删除？")) {
                window.event.returnValue = false;
            } else {
                //发送ajax请求
                $.ajax({
                    type: 'post',
                    url: '[[@{/deleteComment}]]',
                    data: {
                        "id": id,
                        "uid": uid,
                        "con_id": con_id,
                        "fid": fid
                    },
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var comm_data = data["data"];
                        if (comm_data == "fail") {
                            window.location.href = "[[@{/login}]]";
                        } else if (comm_data == "no-access") {
                            //alert("没有权限！");
                        } else {
                            //alert(comm_data)
                            var oThis = $("#comment_dl_" + id);
                            var oT = oThis.parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con');
                            if (oT.siblings('.all-pl-con').length >= 1) {
                                oT.remove();
                            } else {
                                oThis.parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con').parents('.hf-list-con').css('display', 'none')
                                oT.remove();
                            }
                            oThis.parents('.date-dz-right').parents('.date-dz').parents('.comment-show-con-list').parents('.comment-show-con').remove();


                            //评论数comment_num_con_id
                            document.getElementById("comment_num_" + con_id).innerHTML = parseInt(comm_data) + "";

                        }
                    }
                });
            }
        }
    }

    /**
     * 一级评论，点击回复创建回复块
     * @param content_id
     * @param comment_id
     * @param fid
     * @param by_id
     * @param cuid
     */
    function comment_hf(content_id, comment_id, fid, by_id, cuid) {
        //获取回复人的名字
        var oThis = $("#comment_hf_" + comment_id);
        var fhName = oThis.parents('.date-dz-right').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
        //回复@
        var fhN = '回复@' + fhName;
        var fhHtml = '<div class="hf-con pull-left"> <textarea id="plcaceholder_' + comment_id + '"  class="content comment-input " placeholder="' + fhN + '" onkeyup="keyUP(this)"></textarea> <a id="comment_pl_' + comment_id + '" onclick="comment_pl(' + content_id + ',' + comment_id + ',' + fid + ',' + by_id + ',' + cuid + ')" class="hf-pl" style="color: white;cursor:pointer">评论</a></div>';
        //显示回复
        if (oThis.is('.hf-con-block')) {
            oThis.parents('.date-dz-right').parents('.date-dz').append(fhHtml);
            oThis.removeClass('hf-con-block');
            $('.content').flexText();
            oThis.parents('.date-dz-right').siblings('.hf-con').find('.pre').css('padding', '8px 15px');

            //input框自动聚焦
            oThis.parents('.date-dz-right').siblings('.hf-con').find('.hf-input').val('').focus().val(fhN);
        } else {
            oThis.addClass('hf-con-block');
            oThis.parents('.date-dz-right').siblings('.hf-con').remove();
        }
    }

    /**
     * 评论点赞
     * @param id
     */
    function reply_up(id) {
        var num = document.getElementById("comment_upvote_" + id).innerHTML;
        if ($("#change_color_" + id).is('.date-dz-z-click')) {
            num--;
            $("#change_color_" + id).removeClass('date-dz-z-click red');
            $("#change_color_" + id).find('.z-num').html(num);
            $("#change_color_" + id).find('.date-dz-z-click-red').removeClass('red');

        } else {
            num++;
            $("#change_color_" + id).addClass('date-dz-z-click');
            $("#change_color_" + id).find('.z-num').html(num);
            $("#change_color_" + id).find('.date-dz-z-click-red').addClass('red');
        }

        $.ajax({
            type: 'post',
            url: '[[@{/comment}]]',
            data: {
                "id": id,
                "upvote": num
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                var comm_data = data["data"];
                if (comm_data == "fail") {
                    window.location.href = "[[@{/login}]]";
                }
            }
        });
    }

    /**
     * 一级评论块里的评论按钮
     * @param content_id
     * @param comment_id
     * @param fid
     * @param by_id
     * @param cuid
     */
    function comment_pl(content_id, comment_id, fid, by_id, cuid) {
        var uid = "[[${user == null?null:user.id}]]";
        if (uid == null || uid == '') {
            new $.zui.Messager('请登录后评论！', {
                icon: 'bell', // 定义消息图标
            }).show()
            return
        }
        if (fid == null) {
            fid = comment_id;
        }
        var oThis = $("#comment_pl_" + comment_id);
        var myDate = new Date();
        //获取当前年
        var year = myDate.getFullYear();
        //获取当前月
        var month = myDate.getMonth() + 1;
        //获取当前日
        var date = myDate.getDate();
        var h = myDate.getHours();       //获取当前小时数(0-23)
        var m = myDate.getMinutes();     //获取当前分钟数(0-59)
        if (m < 10) m = '0' + m;
        var s = myDate.getSeconds();
        if (s < 10) s = '0' + s;
        var now = year + '-' + month + "-" + date + " " + h + ':' + m + ":" + s;
        //获取输入内容
        var oHfVal = oThis.siblings('.flex-text-wrap').find('.comment-input').val();

        var oHfName = oThis.parents('.hf-con').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
        //alert(oHfName)
        var oAllVal = '回复@' + oHfName;

        if (oHfVal.replace(/^ +| +$/g, '') == '' || oHfVal == oAllVal) {

        } else {
            $.ajax({
                type: 'post',
                url: '[[@{/comment_child}]]',
                data: {
                    "id": fid,
                    "content_id": content_id,
                    "uid": uid,
                    "by_id": by_id,
                    "oSize": oHfVal,
                    "comment_time": now
                },
                async: false,
                dataType: 'json',
                success: function (data) {
                    var comm_data = data["data"];
                    if (comm_data == "fail") {
                        window.location.href = "[[@{/login}]]";
                    } else {
                        var id = comm_data.id;
                        var oAt = '回复<a class="atName">@' + oHfName + '</a>  ' + oHfVal;
                        var oHtml = '<div class="all-pl-con">' +
                            '<div class="pl-text hfpl-text clearfix">' +
                            '<a class="comment-size-name">[[${user!=null?user.nickName:null}]] :</a><span class="my-pl-con">' + oAt + '</span>' +
                            '</div>' +
                            '<div class="date-dz"> ' +
                            '<span class="date-dz-left pull-left comment-time">' + now + '</span> ' +
                            '<div class="date-dz-right pull-right comment-pl-block"> ' +
                            '<a style="cursor:pointer" onclick="deleteComment(' + content_id + ',' + cuid + ',' + id + ',' + fid + ')" id="comment_dl_' + id + '" class="removeBlock">删除</a> ' +
                            '<a onclick="comment_hf(' + content_id + ',' + id + ',' + fid + ',' + comm_data.user.id + ',' + cuid + ')" id="comment_hf_' + id + '" style="cursor:pointer" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a> ' +
                            '<span class="pull-left date-dz-line">|</span> ' +
                            '<a onclick="reply_up(' + id + ')" id="change_color_' + id + '" style="cursor:pointer" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i class="z-num" id="comment_upvote_' + id + '">0</i>)</a> ' +
                            '</div> </div></div>';

                        $("#comment_pl_" + comment_id).parents('.hf-con').parents('.comment-show-con-list').find('.hf-list-con').css('display', 'block').prepend(oHtml) && oThis.parents('.hf-con').siblings('.date-dz-right').find('.pl-hf').addClass('hf-con-block') && oThis.parents('.hf-con').remove();


                        var num = document.getElementById("comment_num_" + content_id).innerHTML;
                        document.getElementById("comment_num_" + content_id).innerHTML = (parseInt(num) + 1) + "";
                    }
                }
            });
        }
    }

</script>
</html>