#c{
    position: fixed;
    top:0;
    left: 0;
    z-index:-1;
    opacity:0.8;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    color: #000;
    background-color: #e6e6e6;
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
    font-size: 12px;
    min-height: 101%;
}

.login-box {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-300px;
    margin-top:-239px;
    opacity: 0.9;
    background: #e6e6e6;
    border-radius: 5px;
    padding: 40px;
}

.login-form, .form-group {
    margin-top: 20px;
}