#c{
    position: fixed;
    top:0;
    left: 0;
    z-index:-1;
    opacity:0.8;
}

body {
    background-color: #e6e6e6;
    min-height: 101%;
}

#container{
    border-radius: 18px;
    width: 80%;
    min-width: 750px;
    background-color: #fff;
    margin: 0 auto;
    background-attachment: fixed;
    padding: 30px;
    margin-top:50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

#main {
    width: auto;
    min-height: 650px;
    margin-top: 30px;
}

#content{
    width: 120%;
    padding: 0 0 10px 0;
    *padding-top: 10px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: -22em;
}

#content_col{
    margin-left: 22em;
    float: none;
    width: auto;
}

.content-text{
    width: 100%;
    padding: 20px;
    background-color: #F8F8FF;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.author img {
    width: 25px;
    height: 25px;
    border-radius: 35px;
    padding: 0;
    margin-right: 10px;
}
fieldset, img {
    border: 0;
}
.author a, .author span {
    float: left;
    font-size: 10px;
    font-weight: 700;
    line-height: 35px;
    color: #9b8878;
    text-decoration: none;
}

.author-h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-size: 100%;
    font-weight: 400;
}


a {
    text-decoration:none;
    color: inherit;
    outline: 0;
}
a:-webkit-any-link {
    cursor: pointer;
}

